<template>
  
  <div class="container">
    
    <h1>Latest Posts</h1>
    
    <div class="create-post">
      <label for="create-post">Create a post&hellip;</label>
      <input type="text" id="create-post" v-model="text" placeholder="Create a post" />
      <button v-on:click="createPost">Save it!</button>
    </div>

    <hr />

    <p class="error" v-if="error">{{ error }}</p>
    
    <div class="posts-container">
      
      <div class="post" v-for="(post, index) in posts" v-bind:item="post" v-bind:index="index" v-bind:key="post._id" >
      <!-- <div class="post" v-for="(post, index) in posts" v-bind:item="post" v-bind:index="index" v-bind:key="post._id" v-on:dblclick="deletePost(post._id)" > -->
        
        {{ `${post.createdAt.getMonth()}/${post.createdAt.getDate()}/${post.createdAt.getFullYear()}` }}

        <p class="text">
          {{ post.text }}
        </p>

        <button v-on:click="deletePost( post._id )">Delete post</button>

      </div>

    </div>

  </div>

</template>

<script>

  // import axios from "axios";
  import { PostService } from "../PostService";
  const ps = new PostService();

  export default {

    name: 'PostComponent'
    
    // , props: { msg: String }

    , data() {
      return {
        posts: []
        , error: ''
        , text: ''
      }
    }
    
    /*, async created(){
      
      try{
        let jsondata = await ps.getPosts();  // console.log( "jsondata: " , jsondata );
        this.posts = await jsondata;
      }
      catch(err){
        this.error = err;
      }

    } */

    // and, My NEW and FINAL version, too -- v2
    /**/ , created(){

      ps.getPosts()
      .then( ( jsondata ) => {
        // console.log( "jsondata: " , jsondata );
        this.posts = jsondata;
      } )
      .catch( (err) => {
        // console.log( "err:" , err );
        this.error = err;
      } );

    } /**/

    , methods: {
      
      async createPost() {
        await ps.insertPost( this.text );
        this.posts = await ps.getPosts();
        // console.log( "this.text: ", this.text );
        this.text = "";
      }

      , async deletePost( idPm ) { 
        // console.log( "idPm: ", idPm );
        await ps.deletePost( idPm );
        this.posts = await ps.getPosts();
       }

    }

  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  div.container {  max-width: 800px; margin: 0 auto; }
  p.error { border: 1px solid #ff5b5f; background-color: #ffc5c1; padding: 10px; margin-bottom: 15px; }
  div.post { position: relative; border: 1px solid #5BD658; background-color: #bcffb8; padding: 10px 10px 30px 10px; margin-bottom: 15px; }

  div.created-at { position: absolute; top: 0; left: 0; padding: 5px 15px 5px 15px; background-color: darkgreen; color: #FFFFFF; font-size: 13px; }

  p.text { font-size: 22px; font-weight: 700; margin-bottom: 0; }

</style>
